@if (isAddingProduct) {
    <app-new-product-item (closeNewProduct)="onCloseAddingProduct()"/>
}


<section class="products">
  <div class="header">
    <h2>Liste des produits</h2>
    @if (authService.isGestionnaire()) {
      <button class="btn btn-add" (click)="onStartAddingProduct()">+ Ajouter un produit</button>
    }
  </div>

  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Nom</th>
        <th>Prix</th>
        <th>Description</th>
        @if (authService.isGestionnaire()) {
          <th>Actions</th>
        }
      </tr>
    </thead>
    <tbody>
      @for (product of products; track product.productId) {
        <app-product-item
          [product]="product"
          [showActions]="authService.isGestionnaire()"
        />
      }
    </tbody>
  </table>
</section>
