@if (isAddingClient()) {
  <app-new-client-item
    (closeNewClient)="onCloseAddingClient()"
    (submitNewClient)="onNewClientSubmitted($event)"
  />
}

@if (isEditingClient()) {
  <app-new-client-item
    [editClient]="editingClient()"
    (closeNewClient)="onCloseAddingClient()"
    (submitEditClient)="onEditClientSubmitted($event)"
  />
}

<section class="clients">
  <div class="header">
    <h2>Liste des clients</h2>
    <button class="btn btn-add" (click)="onStartAddingClient()">+ Ajouter un client</button>
  </div>

  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Nom</th>
        <th>Email</th>
        <th>Téléphone</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      @for (client of clients(); track client.clientId) {
        <app-client-item
          [client]="client"
          (edit)="openEditForm($event)"
          (delete)="deleteClient($event)"
        />
      }
    </tbody>
  </table>
</section>
